FROMIMG="lrgc01/debian-git:${ARCH}"
COMMENT="Complete Debian with no desktop package"

# 
# ---- Start script / command ----
#
OLD_IFS="$IFS"
IFS=""

#
# Dockerfile
#
_DOCKERBODY="#
FROM $FROMIMG

RUN set -ex \\
    && sed -i '/path-exclude \/usr\/share\/man/d' /etc/dpkg/dpkg.cfg.d/docker \\
    && sed -i '/path-exclude \/usr\/share\/groff/d' /etc/dpkg/dpkg.cfg.d/docker \\
    && apt-get update \\
    && DPKGLIST=\"\$(dpkg-query --show --showformat='\${Package} ')\" \\
    && apt install --reinstall \$DPKGLIST \\
    && apt install -q -y locales man-db \\
    && update-locale LANG=C.UTF-8 && locale-gen --keep-existing \\
    && apt install -q -y syslog-ng xz-utils screen tmux sudo apt-utils bc \\
    && apt install -q -y unzip p7zip-full \\
    && apt purge -y --auto-remove \\
    && apt clean \\
    && touch /var/run/utmp && chgrp utmp /var/run/utmp && chmod g+w /var/run/utmp

"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

