#FROMIMG="ghcr.io/oracle/oci-cli:latest" 
#FROMIMG="oraclelinux:8-slim"
COMMENT="Oracle oci-cli installed on non-oracle linux"

VENVDIR=/python_env

#
# Dockerfile
#
OLD_IFS="$IFS"
IFS=""

_DOCKERBODY="#
# This is a Dockerfile made from create.sh script - don't change here
#
FROM $FROMIMG

LABEL Comment=\"$COMMENT\"

USER root

RUN set -ex \\
    apt update && \\
    apt install -s -y build-essential zlib1g-dev libncurses5-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev libsqlite3-dev wget libbz2-dev && \\
    apt install -s -y python3-venv pkg-config && \\
    python3 -m venv $VENVDIR && \\
    export PATH=$VENVDIR/bin:$PATH && \\
    cd $VENVDIR && \\
    pip install --upgrade pip && \\
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh && \\
    pip install oci-cli

VOLUME [\"/python_env\"]

CMD ["/bin/bash"]
"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#
