debootstrap/build
*.bkp*
*.old*
**/Dockerfile.tmp
**/Dockerfile
**/jenkins/temp_tarball.tgz
docker.build/apache2/apache2.start
docker.build/jenkins/get.jenkins.io
docker.build/dns-bind9/bind.bootstrap
