debootstrap/build
*.bkp*
*.old*
**/Dockerfile.tmp
**/apache2/Dockerfile
**/dns-bind9/Dockerfile
**/jenkins/temp_tarball.tgz
**/openjdk/Dockerfile
**/openjre/Dockerfile
**/python3-pip/Dockerfile
docker.build/apache2/apache2.start
