FROMIMG="lrgc01/net-stable_slim:${ARCH}"
COMMENT="ISC DHCP server"

USR_=${DHCP_USR:-dhcp}
GRP_=${DHCP_GRP:-dhcp}
USERDIR_=${DHCP_HOMEDIR:-/etc/dhcp}
USERDIR_=${USERDIR_#/}

STARTFILE=${DHCP_START_CMD:-"dhcp.bootstrap"}
IPFILE=${DHCP_IPFILE:-"dhcp.host"}
START_DIR="start.d"
DHCP_DIR=${DHCP_DIR:-"/etc/dhcp"}
DHCP_LIBDIR=${DHCP_LIBDIR:-"/var/lib/dhcp"}
DHCP_LOGDIR=${DHCP_LOGDIR:-"/var/log/dhcp"}
DHCP_LEASES=${DHCP_LEASES:-"$DHCP_LIBDIR/dhcpd.leases"}
# 
# ---- Start command ----
#    ... with workaround to get IP 
#
OLD_IFS="$IFS"
IFS=""

_STARTBODY="#!/bin/bash

# Some environment variables that may be passed to the container
# Any file/script can be uploaded inside a volume using the Docker Host
START_SH=\${DOCKER_START_SH:-\"$START_SCRIPT\"}
WORKDIR=\${DOCKER_WORKDIR:-\"/$START_DIR\"}

IFACE=\${DOCKER_IFACE:-\"eth0\"}

# Start of the container main purpose app
if [ -d \"\$WORKDIR\" ]; then
   cd \"\$WORKDIR\"
fi

# If there is a application script, run it, otherwise run sshd below
if [ -f \"\$START_SH\" ]; then
   bash \"\$START_SH\"
else
   if [ -d \"/$USERDIR_\" ];  then
      # workaround to get my ip
      grep -w \$(hostname) /etc/hosts | awk '{print \$1}' > \"/$USERDIR_/$IPFILE\"
   fi
   if [ ! -f \"$DHCP_LEASES\" ]; then
      touch \"$DHCP_LEASES\"
   fi
   # -f runs in foreground
   /usr/sbin/dhcpd -4 -q -cf /etc/dhcp/dhcpd.conf -f \$IFACE
   # -D to run the daemon in foreground
   #/usr/sbin/sshd -D
fi
"
#
# ---- end workaround IP ----

# Dockerfile
#
_DOCKERBODY="#
# This is a Dockerfile made from create.sh script - don't change here
#
FROM $FROMIMG

LABEL Comment=\"$COMMENT\"

RUN apt-get update && \\
    apt-get install -y isc-dhcp-server --no-install-recommends && \\
    apt-get clean && \\
    rm -f /var/cache/apt/pkgcache.bin /var/cache/apt/srcpkgcache.bin && \\
    rm -fr /var/lib/apt/lists/* && \\
    rm -fr /usr/share/man/man* && \\
    mkdir -p /$START_DIR 

COPY --chmod=755 $STARTFILE $START_SCRIPT /$START_DIR/

# Standard dhcp ports
EXPOSE 67
EXPOSE 68

# Add VOLUMEs to allow backup of config, logs and other (this is a best practice)
VOLUME  [\"$DHCP_DIR\", \"$DHCP_LIBDIR\", \"$DHCP_LOGDIR\" ]

CMD [\"sh\",\"/$START_DIR/$STARTFILE\"]
"

IFS="$OLD_IFS"
#
# ---- end Dockerfile ----
#
