FROMIMG="debian:stable-slim"
COMMENT="Debian with ssh"

START_DIR=${START_DIR:-"/start.d"}
STARTFILE=${START_CMD:-"start.sh"}

# 
# ---- Start script / command ----
#
OLD_IFS="$IFS"
IFS=""

_STARTBODY="#!/bin/bash

# Some environment variables that may be passed to the container
# Any file/script can be uploaded inside a volume using the Docker Host
START_SH=\${DOCKER_START_SH}
WORKDIR=\${DOCKER_WORKDIR:-\"/startup.d\"}

# Start of the container main purpose app
if [ -d \"\$WORKDIR\" ]; then
   cd \"\$WORKDIR\"
fi

# If there is a application script, run it, otherwise run sshd below
if [ -f \"\$START_SH\" ]; then
   bash \"\$START_SH\"
else
   # -D to run the daemon in foreground
   /usr/sbin/sshd -D
fi
"
#
# Dockerfile
#
_DOCKERBODY="#
FROM $FROMIMG

# systemd-journal group doesn't make sense inside docker and breaks mongodb Dockerfile
RUN set -ex \\
    && apt update && apt install -q -y openssh-server --no-install-recommends \\
    && apt purge -y --auto-remove \\
    && useradd -m -s /bin/bash admin \\
    && rm -rf /var/lib/apt/lists/* \\
    && rm -f /var/cache/apt/pkgcache.bin /var/cache/apt/srcpkgcache.bin  \\
    && mkdir -p /run/sshd $START_DIR

COPY $STARTFILE $START_DIR/

EXPOSE 22

#CMD [ \"/usr/sbin/sshd\",\"-D\" ]
CMD [ \"$START_DIR/$START_CMD\" ]
"
IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

