FROMIMG="lrgc01/ubuntu-nox11:${ARCH}"
COMMENT="Ubuntu desktop image"

# S6 dir hier
S6Tar=etc-X11-s6.tgz
cp ../scripts/$S6Tar .
TOCLEAN="$TOCLEAN $S6Tar"

# 
# ---- Start script / command ----
#
OLD_IFS="$IFS"
IFS=""

# Extra for amd64 only
if [ "$ARCH" = "amd64" ]; then
    _AMD64_CHROME_SNIPPET="ADD https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb /tmp
RUN apt install /tmp/google-chrome-stable_current_amd64.deb -y ; rm -f /tmp/google-chrome-stable_current_amd64.deb
"
fi
#
# Dockerfile
#
_DOCKERBODY="#
FROM $FROMIMG

RUN set -ex \\
    && export DEBIAN_FRONTEND=noninteractive \\
    && apt-get update \\
    && apt-get install -q -y xorg xrdp xfce4 xfce4-goodies openbox dbus-x11 policykit-1 \\
    && apt-get install -q -y gnome fuse3 gvfs-fuse \\
    && apt-get install -q -y firefox libreoffice freerdp2-x11 mpv xtightvncviewer mesa-utils-bin \\
    && apt-get purge -y --auto-remove \\
    && apt-get clean 

$_AMD64_CHROME_SNIPPET

ADD $S6Tar /etc/s6-overlay/
ADD lightdm.conf /etc/lightdm/

ENTRYPOINT ["/init"]

"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

