FROMIMG="lrgc01/git:$ARCH" # Using from generic.rc
COMMENT="nvm over git image using openssh-server image"

#
# Dockerfile
#
OLD_IFS="$IFS"
IFS=""

_DOCKERBODY="#
FROM $FROMIMG

USER admin

RUN set -ex \\
    && curl https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash \\
    && set +x ; . \$HOME/.bashrc \\
    && export NVM_DIR=\"\$HOME/.nvm\" \\
    && [ -s \"\$NVM_DIR/nvm.sh\" ] && \. \"\$NVM_DIR/nvm.sh\" \\
    && [ -s \"\$NVM_DIR/bash_completion\" ] && \. \"\$NVM_DIR/bash_completion\" \\
    && nvm install --lts

USER root

CMD [ \"/usr/sbin/sshd\",\"-D\" ]
"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

