FROMIMG="lrgc01/debian-net:${ARCH}"
COMMENT="mongodb server over debian-net image"

if [ "$ARCH" != "amd64" ]; then
   echo "mongo only works in amd64 architecture. Exiting."
   exit 0
fi

#
# Dockerfile
#
OLD_IFS="$IFS"
IFS=""

# get original Dockerfile from mongo community first and name it Dockerfile.inc
wget --quiet -O Dockerfile.inc 'https://raw.githubusercontent.com/docker-library/mongo/refs/heads/master/8.0/Dockerfile'
sed -e "s,ubuntu:jammy,$FROMIMG," -e "s,ubuntu:noble,$FROMIMG," -e 's/ubuntu/debian/' -e 's/noble/bookworm/' -e 's/jammy/bookworm/' -e 's/multiverse/main/' -e 's/999/990/g' < Dockerfile.inc > $DOCKERFILE

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

