FROMIMG="lrgc01/kali-nox11:${ARCH}"
COMMENT="Kali desktop image"

STARTFILE="bootstrap.container.sh"

# 
# ---- Start script / command ----
#
OLD_IFS="$IFS"
IFS=""

# Extra for amd64 only
if [ "$ARCH" = "amd64" ]; then
    _AMD64_CHROME_SNIPPET="ADD https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb /tmp
RUN apt install /tmp/google-chrome-stable_current_amd64.deb -y ; rm -f /tmp/google-chrome-stable_current_amd64.deb
"
fi
#
# Dockerfile
#
_DOCKERBODY="#
FROM $FROMIMG

RUN set -ex \\
    && export DEBIAN_FRONTEND=noninteractive \\
    && apt-get update \\
    && apt-get install -q -y zsh kali-desktop-gnome kali-desktop-xfce lightdm xrdp \\
    && apt-get install -q -y libreoffice freerdp2-x11 mpv xtightvncviewer \\
    && apt-get purge -y --auto-remove \\
    && apt-get clean 

$_AMD64_CHROME_SNIPPET

ADD etc-s6.tgz /etc/s6-overlay/s6-rc.d/

ENTRYPOINT ["/init"]

"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

