FROMIMG="lrgc01/debian-node:${ARCH}"
COMMENT="m365 cli for Microsoft Apps"

# This is globally used
USERDIR_=${M365_HOMEDIR:-/home/admin}
USERDIR=${USERDIR_#/}

START_DIR="/start.d"
STARTFILE=${M365_STARTFILE:-"m365.start.sh"}
IPFILE=${M365_IPFILE:-"m365.host"}

# 
# ---- Start script / command ----
#    ... with workaround to get IP 
#
OLD_IFS="$IFS"
IFS=""

_STARTBODY="#!/bin/bash

# Some environment variables that may be passed to the container
# Any file/script can be uploaded inside a volume using the Docker Host
START_SH=\${DOCKER_START_SH}
WORKDIR=\${DOCKER_WORKDIR:-\"/startup.d\"}

# Start of the container main purpose app
if [ -d \"\$WORKDIR\" ]; then
   cd \"\$WORKDIR\"
fi

# If there is a application script, run it, otherwise run sshd below
if [ -f \"\$START_SH\" ]; then
   bash \"\$START_SH\"
else
   if [ -d \"/$USERDIR_\" ];  then
      # workaround to get my ip
      #grep -w \$(hostname) /etc/hosts | awk '{print \$1}' > \"/$USERDIR_/$IPFILE\"
      which m365 > /dev/null 2>&1
      [ \"\$?\" != \"0\" ] && npm i -g @pnp/cli-microsoft365
   fi
   # -D to run the daemon in foreground
   /usr/sbin/sshd -D
fi
"

#
# ---- end workaround IP ----
#
# Dockerfile
#
_DOCKERBODY="#
# This is a Dockerfile made from create.sh script - don't change here
#
FROM $FROMIMG

LABEL Comment=\"$COMMENT\"

RUN npm install m365 -g

COPY $STARTFILE $START_DIR/

EXPOSE 22

CMD [\"sh\",\"$START_DIR/$STARTFILE\"]"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#
