COMMENT="python3-dev over python3-pip image"
FROMIMG="lrgc01/python3-pip:${ARCH}"

UID_=${PYTHON3_UID:-10020}
GID_=${PYTHON3_GID:-10020}
USR_=${PYTHON3_USR:-pyusr}
GRP_=${PYTHON3_GRP:-pygrp}
USERDIR_=${PYTHON3_HOMEDIR:-conf.d}
USERDIR_=${USERDIR_#/}

STARTFILE=${PYTHON3_START_CMD:-"start.sh"}
START_DIR=${PYTHON3_START_DIR:-"/start.d"}
IPFILE=${PYTHON3_IPFILE:-"host.ip"}

# 
# ---- Start command ----
#    ... with workaround to get IP 
#
OLD_IFS="$IFS"
IFS=""

_STARTBODY="#!/bin/bash

# workaround to get my ip
grep -w \$(hostname) /etc/hosts | awk '{print \$1}' > \"$START_DIR/$IPFILE\"

/usr/sbin/sshd -D
"

#
# ---- end start command ----
#
# ---- Dockerfile ----
#
_DOCKERBODY="#
# This is a Dockerfile made from create.sh script - don't change here
#
FROM $FROMIMG

LABEL Comment=\"$COMMENT\"

RUN set -ex && \\
    apt-get update && \\
    apt-get install -y build-essential python3-dev --no-install-recommends && \\
    apt-get clean && \\
    rm -f /var/cache/apt/pkgcache.bin /var/cache/apt/srcpkgcache.bin && \\
    rm -fr /var/lib/apt/lists/* && \\
    rm -fr /usr/share/man/man* && \\
    mkdir -p $START_DIR

COPY $STARTFILE $START_DIR/

CMD [\"sh\",\"$START_DIR/$STARTFILE\"]
"
#
# ---- end Dockerfile ----
#

IFS="$OLD_IFS"

