#FROMIMG="debian:stable-slim" # Using from generic.rc
COMMENT="net utils using openssh-server image"

#
# Dockerfile
#
OLD_IFS="$IFS"
IFS=""

_DOCKERBODY="#
FROM $FROMIMG

RUN set -ex \\
    && apt-get update && apt-get install -q -y net-tools tcpdump bind9-host iputils-ping netcat-traditional \\
    && apt-get install -q -y curl \\
    && apt-get purge -y --auto-remove \\
    && rm -f /var/cache/apt/pkgcache.bin /var/cache/apt/srcpkgcache.bin  \\
    && rm -fr /usr/share/man/man*  \\
    && rm -rf /var/lib/apt/lists/* 

CMD [ \"/usr/sbin/sshd\",\"-D\" ]
"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

