FROMIMG="lrgc01/ubuntu-git:${ARCH}"
COMMENT="Complete Ubuntu with no desktop package"

#SECURITYBUILD="--security-opt=seccomp=unconfined"

# 
# ---- Start script / command ----
#
OLD_IFS="$IFS"
IFS=""

# for S6, MACHINE is ARCH
if [ "$MACHINE" = "armv7l" ]; then
    MACHINE="$ARCH"
#    # Need --security-opt=seccomp=unconfined which seems not to be available in many distros
#    exit 0
fi
#
# Dockerfile
#
_DOCKERBODY="# 
FROM $FROMIMG

RUN set -ex \\
    && apt-get update \\
    && apt install -q -y unminimize && (yes y | unminimize) || echo unminimize not found \\
    && apt install -q -y locales man-db \\
    && update-locale LANG=C.UTF-8 && locale-gen --keep-existing \\
    && apt install -q -y inetutils-syslogd xz-utils screen tmux sudo apt-utils bc \\
    && apt install -q -y unzip p7zip-full \\
    && apt purge -y --auto-remove \\
    && apt clean \\
    && touch /var/run/utmp && chgrp utmp /var/run/utmp && chmod g+w /var/run/utmp

#ENTRYPOINT ["/init"]

"

IFS="$OLD_IFS"

# 
# ---- end Dockerfile ----
#

